// Here you can add other styles
body{
    font-family: 'Rubik';
    background-color: #1e2938;
    color:#fff
}
.app-body{
    margin-top:0px!important
}

.table-hover tbody tr:hover{
    color:#fff!important;
    background: transparent;
    cursor: pointer;
    opacity:0.7;
}

.table-hover tbody tr, .table.b-table > thead > tr > th[aria-sort], .table.b-table > thead > tr > th, .table.b-table > thead > tr > td, .table.b-table > tfoot > tr > th, .table.b-table > tfoot > tr > td {
    color:#fff!important;
}
.table.b-table > thead > tr > th{
    border:0
}

.autocomplete-input-no-results.autocomplete-input-focused {
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
}
  
.autocomplete-input-no-results:not(.autocomplete-input-focused) ~ .autocomplete-result-list {
    display: none;
}
.change_24h{
    color:greenyellow
}
.negative{
    color:#f00
}

.chain-row{
    padding-top:10px!important;
    padding-bottom:10px!important;
}

.headers {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }