// Here you can add other styles
body{
    font-family: 'Rubik';
    background-color: #1e2938;
    color:#fff
}
.app-body{
    margin-top:0px!important
}

.table-hover tbody tr:hover{
    color:#fff!important;
    background: transparent;
    cursor: pointer;
    opacity:0.7;
}

.table-hover tbody tr, .table.b-table > thead > tr > th[aria-sort], .table.b-table > thead > tr > th, .table.b-table > thead > tr > td, .table.b-table > tfoot > tr > th, .table.b-table > tfoot > tr > td {
    color:#fff!important;
}
.table.b-table > thead > tr > th{
    border:0
}